/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Make images easier to work with */
img, picture {
    max-width: 100%;
    display: block;
}

/* Fonts and color */
li {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
}
h1, h2, h3, h4, h6 {
    font-family: 'Abril Fatface', cursive;
    color: black;
}
p {
    font-family: 'Montserrat', sans-serif;
    
}
/* Top Half section "Reduce you environment impact */
.DonatePageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.DonatePageContainer > *:nth-child(1){
    flex: 1 1 70%;
    min-width: 50ch;
};

.DonatePageContainer > *:nth-child(2){
    flex: 1 1 30%;
    min-width: 15ch;
};
.DonatePageImg {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.DonatePageImgContainter {
    max-width: 50%;
    justify-content: center;
} 
.DonatePageContent {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px; 
}

/* Bottom Half section "List of Donation Locations" */
.DonateCardContainer {
    padding: 20px;
}
.DonateListItemCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    padding: 10px;
    gap: 1rem;
}
.DonateListItemCardImgContainer {
    justify-content: center;
}

.card_img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card__title {
    font-size: 1.75rem;
    line-height: 1.1;
}
.card_button_text {
    color: white;
    text-decoration: none;
}







/* .card__content {
    background: white;
    align-self: end;
    text-align: left;
    /* margin: .5rem .5rem 2rem; */
    /* padding:.5rem; 
    /* box-shadow: 0 .25rem 1rem rgb(0 0 0 / .1) */
    /* padding: 100px 30px;
    /* text-align: left; */ 
/* } */ 




