/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.ClothingDetailPage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ClothingDetailPage > * {
    flex-basis: 100%;
}

img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.sizebox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 50px;
    width: 50px;  
}

.sizeboxcontainer {
    display: flex;
    justify-content: space-around;
}