/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.HomePageContainer {
    width: 100%;
    margin: auto, 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.HomePageImg {
    width:100%;
    border: 2px solid black;
}

.OverlayTextBox {
    margin-top:50px;
    background-color: white;
    position: absolute;
    width: 400px;
    height: 300px;
    opacity: 0.8;
    text-align: center;

}

.Content {
    padding: 100px 30px;
  }

.ClothingItemContainer {
    padding: 10px;
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

/* Utility class */
.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.ClothingListItemGrid {
    display: grid;
    gap: .125rem;
    grid-template-columns:
        repeat(auto-fit, minmax(22rem, 1fr));
    
}

h3 {
    font-family: 'Abril Fatface', cursive;
}

/* Make images easier to work with */
img, picture {
    max-width: 100%;
    display: block;
}
.card_img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card__content {
    background: white;
    align-self: end;
    text-align: left;
    padding:.5rem; 
}


p {
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
}